.banner {
  width: 100%;
  padding: 2.5rem 0;
  overflow: hidden;
}

.banner__scroller {
  padding: 1.25rem 0;
  width: 100%;
  overflow: hidden;
}

.banner__content {
  display: flex;
  gap: 26px;
  animation: banner-move 2s linear infinite;
}

.animated-bg {
  background: linear-gradient(45deg, var(--snitap-sky-light), var(--snitap-joy-light));
  background-size: 400%;
  background-position: 0 50%;
  animation: bg-gradient 20s ease infinite;
}

/* ANIMATIONS */

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes banner-move {
  to {
    transform: translateX(-132px);
  }
}